<div class="permissioneditor <?= $this->previewMode ? 'control-disabled' : '' ?>" <?= $field->getAttributes() ?>>
    <table>
           <?php
                $globalIndex = 0;
            ?>
            <tr class="section">
                <th class="tab"><?= e(trans('')) ?></th>
                <th class="permission-type"><?= e(trans('backend::lang.user.allow')) ?></th>

                <?php if (!$checkboxMode): ?>
                    <th class="permission-type"><?= e(trans('backend::lang.user.inherit')) ?></th>
                    <th class="permission-type"><?= e(trans('backend::lang.user.deny')) ?></th>
                <?php endif ?>

                <th></th>
            </tr>
            <?php foreach ($permissions as $permission): ?>
                <?php
                    $globalIndex++;

                    if (!$checkboxMode) {
                        $permissionValue = array_key_exists($permission->id, $permissionsData)
                            ? $permissionsData[$permission->id]
                            : 0;
                    }
                    else {
                      $isChecked = false;
                       if(array_key_exists($permission->id, $permissionsData))
                       {
                           if($permissionsData[$permission->id] === 1)
                           {
                               $isChecked = true;
                           }
                           else
                           {
                               $isChecked = false;
                           }
                       }
                    }
                ?>
                <tr class="
                        <?= $checkboxMode ? 'mode-checkbox' : 'mode-radio' ?>
                        <?= $checkboxMode && !$isChecked ? 'disabled' : '' ?>
                        <?= !$checkboxMode && $permissionValue == 0 ? 'disabled' : '' ?>
                    ">
                    <td class="permission-name">
                        <?= e(trans($permission->name)) ?>
                        <p class="comment"><?= e(trans($permission->description)) ?></p>
                    </td>
                    <td class="permission-value">
                        <?php if (!$checkboxMode): ?>
                            <div class="radio custom-radio">
                                 <input
                                    id="<?= 'permission-'.$globalIndex.'-allow' ?>"
                                    name="<?= e($baseFieldName) ?>[<?= e($permission->id) ?>]"
                                    value="1"
                                    type="radio"
                                    <?= $permissionValue == 1 ? 'checked="checked"' : '' ?>
                                    data-radio-color="green"
                                >

                                <label for="<?= 'permission-'.$globalIndex.'-allow' ?>"><span>Allow</span></label>
                            </div>
                        <?php else: ?>
                            <div class="checkbox custom-checkbox">
                                 <input
                                    id="<?= 'permission-'.$globalIndex.'-allow' ?>"
                                    name="<?= e($baseFieldName) ?>[<?= e($permission->id) ?>]"
                                    value="1"
                                    type="checkbox"
                                    <?= $isChecked ? 'checked="checked"' : '' ?>
                                 >

                                <label for="<?= 'permission-'.$globalIndex.'-allow' ?>"><span>Allow</span></label>
                            </div>
                        <?php endif?>
                    </td>

                    <?php if (!$checkboxMode): ?>
                        <td class="permission-value">
                            <div class="radio custom-radio">
                                 <input
                                    id="<?= 'permission-'.$globalIndex.'-inherit' ?>"
                                    name="<?= e($baseFieldName) ?>[<?= e($permission->id) ?>]"
                                    value="2"
                                    <?= $permissionValue == 2 ? 'checked="checked"' : '' ?>
                                    type="radio"
                                >

                                <label for="<?= 'permission-'.$globalIndex.'-inherit' ?>"><span>Inherit</span></label>
                            </div>
                        </td>
                        <td class="permission-value">
                            <div class="radio custom-radio">
                                 <input
                                    id="<?= 'permission-'.$globalIndex.'-deny' ?>"
                                    name="<?= e($baseFieldName) ?>[<?= e($permission->id) ?>]"
                                    value="0"
                                    <?= $permissionValue == 0 ? 'checked="checked"' : '' ?>
                                    type="radio"
                                    data-radio-color="red"
                                >

                                <label for="<?= 'permission-'.$globalIndex.'-deny' ?>"><span>Deny</span></label>
                            </div>
                        </td>
                    <?php endif ?>

                    <td></td>
                </tr>
            <?php endforeach ?>
    </table>
    <div class="permissions-overlay"></div>
</div>
